H1{
    color: rgb(242, 242, 247);
    text-align: center;

}
body{

    background-color: rgb(63, 55, 50);
    padding:2rem;
}

div.formulario{

    padding-left: 10rem;
}

div.resultados{

    
    color: darkblue;
}