H1{
    color: rgb(242, 242, 247);
    text-align: center;

}
body{

    background-color: rgb(41, 31, 175);
    padding:2rem;
}

div.formulario{

    padding-left: 10rem;
}

div.resultados{

    padding-left: 10rem;
    color: rgb(244, 244, 247);
}

label{

    color:rgb(239, 239, 243);
    font: 1em sans-serif;
}